<!-- registration Section -->
<section id="program" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Program</h2>
            <p>
                WiSSAP 2023 shall also host poster/oral sessions and a competition. We invite researchers, professionals, or students to submit their proposal in the <a href="/cfa" target="_blank">Call for Abstract</a> and/or participate in the <a href="/cfa" target="_blank">competition</a>. 
        </div>
    </div>
</section>
