<!-- registration Section -->
<!-- <style>
.exciting-button {
    display: inline-block;
    padding: 9px 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3a5adc; 
    border: 3px solid #ff6600; 
    border-radius: 8px;
    animation: blink-border 1.5s infinite; 
}

@keyframes blink-border {
    0%, 100% { border-color: #ff6600; }
    50% { border-color: #00cc66; } 
}

.exciting-button:hover {
    background-color: #0029cc; 
    border-color: #000000; 
}

</style> -->

<style>
    .custom-button {
        display: inline-block;
        padding: 7px 12px;
        /* font-size: 22px; */
        /* font-weight: bold; */
        text-align: center;
        text-decoration: none;
        color: #fff;
        /* border: 2px solid #007bff; 
        border-radius: 8px; */
    }
    
    .custom-button:hover {
        background-color: #0056b3; 
        border-color: #0056b3; 
    }
</style>

<section id="registration" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Registration & Accommodation</h2>
            <p>
                Registration is currently open! We have only limited spots available. For more details on how to register and attend the school, please visit the registration page by clicking the button below. 
                <br>
                Accomodation shall be provided for registered participants in the institute halls (subject to availability) at nominal charges. Click on the button below for details.
                <!-- <a href="registration" target="_blank" class="btn btn-primary custom-button">Register Now</a>! -->
            </p>
            <a href="registration" target="_blank" class="btn btn-primary custom-button">Register Now</a> &nbsp; &nbsp; &nbsp;  <a href="accommodation" target="_blank" class="btn btn-primary custom-button">Accommodation</a>
        </div>
    </div>
    <br>
    <br>
</section>
