<style>
  .custom-button {
    /* Your custom button styles */
  }

  .custom-button:hover {
    /* Your custom button styles on hover */
  }

  .sponsor-logos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .other-sponsors {
    padding: 2em 1em !important;
    margin-left: 0em;
}
  .platinum {
    padding: 2em 1em !important;
    margin-left: 0em;
}

.platinum-container {
  margin-left: -4em; /* Adjust the margin as needed to move all 'Platinum' sponsors to the left together */
}
.platinum-container .platinum {
  float: left;
}

</style>

<section id="sponsors" class="container content-section">
  <div class="row">
      <div class="col-lg-12">
          <h2>/ Sponsors</h2>
      </div>

      {% for plan in site.data.sponsors %}
      <div class="row">
          <div class="col-lg-12 text-center sponsor-logos">
              <h3>{{ plan.plan }}</h3>

              {% if plan.plan == 'Platinum' %}
              <div class="platinum-container">
              {% endif %}
              {% for sponsor in plan.sponsors %}
              <div class="sponsor-box {% if plan.plan == 'Platinum' %}platinum{% else %}other-sponsors{% endif %}">
                <a href="{{ sponsor.url }}">
                  <img class="sponsor-image" style="margin-top: {{ sponsor['margin-top'] }}px;" height="{{ sponsor.height }}" width="{{ sponsor.width }}" src="{{ sponsor.logo | relative_url }}" alt="{{ sponsor.name }}">
                </a>
              </div>
              {% endfor %}
              </div>
          </div>
      </div>
      {% endfor %}

      <div class="row">
          <p> 
              <a href="assets/sponsorship_opportunity.pdf" target="_blank" class="btn btn-primary custom-button">Call for Sponsors</a>
          </p>
      </div>
  </div>
</section>
