<style>
  .custom-button {
    /* Your custom button styles */
  }

  .custom-button:hover {
    /* Your custom button styles on hover */
  }

  /* Add this CSS to align sponsors from left to right */
  .sponsor-logos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
</style>

<section id="sponsor" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Sponsors</h2>
        </div>
        <div class="row">
            <!-- Add the sponsor-logos class to the parent div -->
            <div class="col-lg-12 text-center sponsor-logos">
                {% for institution in site.data.sponsors %}
                <div style="padding: 2em 1em !important;">
                    <a href="{{ institution.url }}" target="_blank">
                        <img height="{{institution.height}}" src="{{ institution.logo | relative_url }}" alt="{{ institution.name }}">
                    </a>
                </div>
                {% endfor %}
                <p>
                  <br>
                  <br>
                  &nbsp;&nbsp;&nbsp; and more!
                </p>
            </div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <a href="/assets/Call_For_Sponsors.pdf" target="_blank" class="btn btn-primary custom-button">Call for Sponsors</a>
            </p>
        </div>
    </div>
</section>


<!-- <style>
  .custom-button {
      display: inline-block;
      padding: 4px 8px;
      /* font-size: 18px; */
      /* font-weight: bold; */
      text-align: center;
      text-decoration: none;
      color: #fff;
      /* border: 2px solid #007bff; 
      border-radius: 8px; */
  }
  
  .custom-button:hover {
      background-color: #0056b3; 
      border-color: #0056b3; 
  }
  </style>

    <section id="sponsor" class="container content-section">
        <div class="row">
            <div class="col-lg-12">
                <h2>/ Sponsors</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="width: 100%; display: flex; flex-wrap: wrap; align-items: center;">                    
                  {% for institution in site.data.sponsors %}
                  <div style="flex: 1; padding: 2em 1em 2em 1em !important;">
                    <a href="{{ institution.url }}">
                      <img height="120" src="{{ institution.logo | relative_url }}" alt="{{ institution.name }}">
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </section> -->