<style>
    /* Add this CSS in your style sheet or inside the head tag in a style block */
    footer {
        padding-top: 20px; /* Add some padding to improve visual separation */
        max-width: 1500px;
        margin: 0 auto;
    }

    .footer-content {
        border-top: 1px solid #ddd; /* Adjust the color and thickness as needed */
        display: flex;
        justify-content: space-between;
    }

    .logo-left {
        flex: 1;
        text-align: center;
        margin-top: 55px;
    }

    .logo-right {
        flex: 1;
        text-align: center;
        margin-top: 85px;
    }

    .copyright {
        flex: 1;
        text-align: center;
        margin-top: 90px;
    }
</style>

<!-- Footer -->
<footer>
    <div class="container text-center" style="margin-top: 50px;">
        <div class="footer-content">
            <div class="logo-left">
                <img src="images/institutions-logos/IITK.png" alt="IITK Logo" width="100px">
            </div>
            <div class="copyright">
                <p>&copy; 20{{ site.time | date: '%y' }} {{ site.footer }}</p>
            </div>
            <div class="logo-right">
                <img src="images/institutions-logos/madhavlab.png" alt="Madhav_lab Logo" width="150px">
            </div>
        </div>
    </div>
</footer>


<!-- 
<style>
    /* Add this CSS in your style sheet or inside the head tag in a style block */
    .footer-content {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        flex: 1;
        text-align: center;
    }
    
    .logo-right {
        margin-top: 5px; /* Adjust the number of pixels as desired */
    }
    
    .logo-left {
        margin-top: -5px; /* Adjust the number of pixels as desired */
    }
    
    /* Additional styling for copyright text */
    p {
        margin: 0; /* To remove default margin of the <p> tag */
        font-size: 14px; /* Adjust the font size as needed */
    }
    
    </style>
    
    <footer>
        <div class="container text-center" style="margin-top: 100px;">
            <div class="footer-content">
                <div class="logo logo-left">
                    <img src="images/institutions-logos/iitk_300.png" alt="IITK Logo" width="100px">
                </div>
                <div class="copyright">
                    <p>&copy; 20{{ site.time | date: '%y' }} {{ site.footer }}</p>
                </div>
                <div class="logo logo-right">
                    <img src="images/institutions-logos/madhavlab.png" alt="Madhav_lab Logo" width="100px">
                </div>
            </div>
        </div>
    </footer>
     -->